*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: #161616;
    color:white;
}

.janela1{
    background-color: #c0c0c0;
}

.janela>div:first-child{
    
}

.janela1 img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 30px;
}